<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Regular Expression</key>
			<string>(?s)^.*\n.*$</string>
			<key>Shell Script File</key>
			<string>kopy</string>
			<key>Title</key>
			<string>Kopy</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>kopy.io</string>
	<key>Extension Identifier</key>
	<string>com.jandubois.popclipext.kopy</string>
	<key>Extension Name</key>
	<string>kopy.io</string>
</dict>
</plist>
