<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Regular Expression</key>
			<string>\b\d{8,9}\b</string>
			<key>Title</key>
			<string>CF</string>
			<key>Image File</key>
			<string>cf.png</string>
			<key>URL</key>
			<string>https://www.pivotaltracker.com/story/show/{popclip text}</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Cloud Foundry Tracker</string>
	<key>Extension Identifier</key>
	<string>com.jandubois.popclipext.cf</string>
	<key>Extension Name</key>
	<string>Cloud Foundry</string>
        <key>Extension Image File</key>
	<string>cf.png</string>
</dict>
</plist>
